In [2]:
import pandas as pd

In [3]:
#Read in data
bikedata="citibike_data.csv"

In [4]:
#Convert to df
bikedata_df=pd.read_csv(bikedata)

In [5]:
bikedata_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,00018CB530A14F3E,classic_bike,3/12/2023 1:54,3/12/2023 1:56,Hudson St & 4 St,HB607,8 St & Washington St,HB603,40.740877,-74.028593,40.745984,-74.028199,member
1,0002D93A3D2C1A57,electric_bike,3/16/2023 19:35,3/16/2023 19:39,Grove St PATH,JC115,Monmouth and 6th,JC075,40.719410,-74.043090,40.725685,-74.048790,member
2,0004870EE61AB228,classic_bike,3/12/2023 11:06,3/12/2023 11:08,Manila & 1st,JC082,Newark Ave,JC032,40.721651,-74.042884,40.721525,-74.046305,member
3,0004CA5FDFE2DF8D,electric_bike,3/22/2023 9:11,3/22/2023 9:13,Clinton St & 7 St,HB303,6 St & Grand St,HB302,40.745420,-74.033320,40.744398,-74.034501,member
4,00064A16BFD4A7BA,classic_bike,3/9/2023 8:09,3/9/2023 8:15,Madison St & 1 St,HB402,Hoboken Terminal - River St & Hudson Pl,HB102,40.738790,-74.039300,40.736068,-74.029127,casual

In [6]:
#check data types
bikedata_df.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [10]:
#convert the start and end data to datetime format
bikedata_df['started_at'] = pd.to_datetime(bikedata_df['started_at'])

In [15]:
bikedata_df['ended_at'] = pd.to_datetime(bikedata_df['ended_at'])

In [16]:
bikedata_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,00018CB530A14F3E,classic_bike,2023-03-12 01:54:00,2023-03-12 01:56:00,Hudson St & 4 St,HB607,8 St & Washington St,HB603,40.740877,-74.028593,40.745984,-74.028199,member
1,0002D93A3D2C1A57,electric_bike,2023-03-16 19:35:00,2023-03-16 19:39:00,Grove St PATH,JC115,Monmouth and 6th,JC075,40.719410,-74.043090,40.725685,-74.048790,member
2,0004870EE61AB228,classic_bike,2023-03-12 11:06:00,2023-03-12 11:08:00,Manila & 1st,JC082,Newark Ave,JC032,40.721651,-74.042884,40.721525,-74.046305,member
3,0004CA5FDFE2DF8D,electric_bike,2023-03-22 09:11:00,2023-03-22 09:13:00,Clinton St & 7 St,HB303,6 St & Grand St,HB302,40.745420,-74.033320,40.744398,-74.034501,member
4,00064A16BFD4A7BA,classic_bike,2023-03-09 08:09:00,2023-03-09 08:15:00,Madison St & 1 St,HB402,Hoboken Terminal - River St & Hudson Pl,HB102,40.738790,-74.039300,40.736068,-74.029127,casual

In [17]:
#checking to see how to find the time difference between start and end time
bikedata_df['ended_at'][1] - bikedata_df['started_at'][1]

Timedelta('0 days 00:04:00')

In [19]:
end = bikedata_df['ended_at'][1]
begin = bikedata_df['started_at'][1]

In [32]:
pd.Timedelta(bikedata_df['ended_at'][1]-bikedata_df['started_at'][1]).seconds

240

In [ ]:
pd.Timedelta(end-begin).seconds

In [26]:
len(bikedata_df['ended_at'])

63038

In [30]:
#Create new column to store the total ride time
bikedata_df['tot_ride_time']=''

In [33]:
#Calculate the total ride time for each row and store in the new column
for i in range(len(bikedata_df)):
    bikedata_df['tot_ride_time'][i] = pd.Timedelta(bikedata_df['ended_at'][i]-bikedata_df['started_at'][i]).seconds

C:\Users\ezgib\AppData\Local\Temp\ipykernel_20436\4164467700.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bikedata_df['tot_ride_time'][i] = pd.Timedelta(bikedata_df['ended_at'][i]-bikedata_df['started_at'][i]).seconds

In [36]:
bikedata_df.dtypes

ride_id                       object
rideable_type                 object
started_at            datetime64[ns]
ended_at              datetime64[ns]
start_station_name            object
start_station_id              object
end_station_name              object
end_station_id                object
start_lat                    float64
start_lng                    float64
end_lat                      float64
end_lng                      float64
member_casual                 object
tot_ride_time                 object
dtype: object

In [34]:
bikedata_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,tot_ride_time
0,00018CB530A14F3E,classic_bike,2023-03-12 01:54:00,2023-03-12 01:56:00,Hudson St & 4 St,HB607,8 St & Washington St,HB603,40.740877,-74.028593,40.745984,-74.028199,member,120
1,0002D93A3D2C1A57,electric_bike,2023-03-16 19:35:00,2023-03-16 19:39:00,Grove St PATH,JC115,Monmouth and 6th,JC075,40.719410,-74.043090,40.725685,-74.048790,member,240
2,0004870EE61AB228,classic_bike,2023-03-12 11:06:00,2023-03-12 11:08:00,Manila & 1st,JC082,Newark Ave,JC032,40.721651,-74.042884,40.721525,-74.046305,member,120
3,0004CA5FDFE2DF8D,electric_bike,2023-03-22 09:11:00,2023-03-22 09:13:00,Clinton St & 7 St,HB303,6 St & Grand St,HB302,40.745420,-74.033320,40.744398,-74.034501,member,120
4,00064A16BFD4A7BA,classic_bike,2023-03-09 08:09:00,2023-03-09 08:15:00,Madison St & 1 St,HB402,Hoboken Terminal - River St & Hudson Pl,HB102,40.738790,-74.039300,40.736068,-74.029127,casual,360

In [37]:
#Convert rate time to integer
bikedata_df['tot_ride_time'] = bikedata_df['tot_ride_time'].astype(int)

In [40]:
#Convert total ride time from seconds to minutes
bikedata_df['tot_ride_time']=bikedata_df['tot_ride_time']/60

In [38]:
bikedata_df.dtypes

ride_id                       object
rideable_type                 object
started_at            datetime64[ns]
ended_at              datetime64[ns]
start_station_name            object
start_station_id              object
end_station_name              object
end_station_id                object
start_lat                    float64
start_lng                    float64
end_lat                      float64
end_lng                      float64
member_casual                 object
tot_ride_time                  int32
dtype: object

In [41]:
#Export final data
bikedata_df.to_csv("citibikedataclean.csv")